<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALMACENES</title>

 
    <link rel="stylesheet" href="/public/mapa-mejorado/css/style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


    <!--link type="text/css" rel="stylesheet" href="ESTILOS/bootstrap.min.css" /-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>

    <header class="header">
        <nav id="nav" class="nav1">
            <div class="contenedor-nav">
                <div class="logo">
                    <a href="/public/index.html">
                        <img src="./img/logo.jpeg" alt="logo del almacen">
                    </a>
                </div>
                <div class="enlaces" id="enlaces">
                    <a href="/public/index.html" id="enlace-inicio" class="btn-header">Inicio</a>
                    <a href="/public/comprar.html" id="enlace-store" class="btn-header">Tienda</a>

                    <a href="#contacto" id="enlace-contacto" class="btn-header">Contactanos</a>
                    <a href="/public/registro12/login.html" id="inicio" class="btn-header">Iniciar sesion</a>
                </div>
                <div class="icono" id="open">

                </div>
            </div>
        </nav>
    </header>
    <div class="hero">  
    </div>

    <div class="barra">
        <div class="container">
            <div class="row">
                <div class="four columns icono ">
                    <p id="calidad">{{calidad}}<br>{{calidad1}}</p>
                </div>
                <div class="four columns icono ">
                    <p id="servicio">{{servicio}}<br>
                        {{servicio1}}</p>
                </div>
                <div class="four columns icono ">
                    <p>Personal capacitado <br>
                        infraestructura de calidad </p>
                </div>
            </div>
        </div>

    </div>
    <div class="lista-productos" class="container">
        <h1 class="encabezado" id="titulo">{{titulo}}</h1>

        <div class="mapa" id="map"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d79265.27738423707!2d-80.69840955647267!3d-0.9684874222217766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902be7e99bfa0921%3A0x922055419487733c!2sAlmac%C3%A9n%20Veicor!5e0!3m2!1ses-419!2sec!4v1625278277633!5m2!1ses-419!2sec"
            width="100%" height="800" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>

        <footer id="contacto">

            <div class="container">
                <div class="footer1">
                    <h3 class="footer-title">Sobre Nosotros</h3>
                    <p>Nuestro horario de atencion <br> Horas:
                        <br> lunes 08:00–18:30
                        <br> martes 08:00–18:30
                        <br> miércoles 08:00–18:30
                        <br> jueves 08:00–18:30
                        <br> viernes 08:00–18:30
                        <br> sábado 08:00–18:30
                        <br> domingo-cerrado

                    </p>

                </div>
                <div class="footer2">
                    <h3 class="r">Redes Sociales</h3>
                    <ul class="footer-links1">
                        <li><a href="https://www.facebook.com/AlmacenVeicor"><i class="fab fa-facebook"></i>Facebook</a>
                        </li>
                        <li><a href="https://www.instagram.com/almacenveicor/?hl=es-la"><i
                                    class="fab fa-instagram"></i>Instragram</a></li>
                        <li><a
                                href="https://api.whatsapp.com/send?phone=593989167751&text=¡Hola!%20Gracias%20por%20contactarte%20con%20Almacenes%20Veicor%20¿Como%20podemos%20ayudarte?"><i
                                    class="fab fa-whatsapp"></i>WhatsApp</a></li>
                        <li><a
                                href="mailto:producto.hogar25@gmail.com?subject=Asesoramiento&body=¡Hola!%20Gracias%20por%20contactarte%20con%20Almacenes%20Veicor%20¿Como%20podemos%20ayudarte?"><i
                                    class="far fa-envelope"></i>Gmail </a></li>
                        

                    </ul>
                </div>
                <div class="footer3">
                    <h3 class="footer-title">Informacion</h3>
                    <ul class="footer-links3">
                        <li><a href="#">Informacion </a></li>

                        <li><a href="#">Politica de privacidad</a></li>
                        <li><a href="#">Terminos & Condiciones</a></li>
                    </ul>
                </div>
                <div class="footer4">
                    <h3 class="footer-title">Servicio</h3>
                    <ul class="footer-links4">

                        <li><a href="/public">Ver productos</a></li>

                        <li><a href="/public/comprar.html">Ver productos</a></li>

                        <li><a href="#">Seguir mi pedido</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> 
        <script src="/public/mapa-mejorado/mapa.js"></script>
        
        
</body>

</html>