body{
    padding-top: 8rem;
    color: #5a5a5a;
}
.marketing .col-lg-4{
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2{
    font-weight: 400;
}
.marketing .col-lg-4 p{
    margin-right: .75rem;
    margin-left: .75rem;
}

.content-all{
    width: 100%;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
    height: 220px;
}
.container h2{
    color:orangered;

}
.content-carrousel{
    width: 14%;
    left: 650px;
    position: absolute;
    animation: rotar 70s infinite linear;
    transform-style: preserve-3d;
}
img{
    height: 15rem;
    width: 3.5rem;
    

}
img:focus{
    transition: none;
    transform: rotate3d();
}


.Raya{
    width: 100%;
    background-color: orangered;
    height: 10px;
    margin-top: 30px;
    
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 100%px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}