








footer{
    background:rgb(0, 0, 0) ;
}
.main-footer{

        background: #333;
        color: white;
        text-align: left;/*texto alineado a la izquierda*/
        padding: 20px;
        margin-top: 40px;/*maregen superior de 40px*/

}