.bg{
    background: linear-gradient(to bottom,
    rgb(251, 176, 59),
    rgb(247, 147, 30),
    rgb(241, 90, 36)
    );
}



.nav1{
    background: linear-gradient(to bottom,
    rgb(251, 176, 59),
    rgb(247, 147, 30),
    rgb(241, 90, 36)
    );
    height: 80px;
    color:rgb(8, 8, 8);
 }
 .contenedor-nav{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    
    height:inherit;
    overflow: hidden;
 }
 nav .enlaces a{
    
    padding: 5px ;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    color: inherit;
  }
  nav .enlaces h3:hover{
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
  }
  .logo, .logo img{
    height:80px;
    vertical-align: top;
    border-radius: 48px;
	/*margin-left: 10px;*/
  }
  .icono{
    display:none;
    font-size: 24px;
    padding: 23.5px 20px;
}