<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="/public/admin/admin.css">
    <link rel="stylesheet" href="/public/admin/insertarproduc.css">
    <title>Almacen Veicor Orders</title>
</head>
<body onload="readUsuario()">
    <nav class="navbar navbar-dark navbar-expand-md bg             
    text-white">
    <a class="text-white navbar-brand" href="/public/index.html">
        <i class="fab fa-pagelines"></i>
        Almacen Veicor
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">        
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">               
        <ul class="navbar-nav mr-auto menu">
            <li class="nav-item active">
                <a class="nav-link" href="admin.html" id="tema">{{mensaje}}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="order.html" id="edit">{{edit}}</a>
            </li>
           
            <li class="nav-item active">
                <a class="nav-link" href="./insertProduct.html" id="add">{{add}}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./crearUsuario.html" id="create">{{crea}}</a>
            </li>
        </ul>    
        <form class="form-inline mt-2 mt-md-0">                                      
            <a class="text-white nav-link" href="/public/index.html">
                    SALIR
            </a>  
        </form>                 
      </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div id="firstSection" class="col-md-6">
                <form class="border p-4 mb-4" id="form">
                    <div class="form-group">
                        <label>Usuario</label>
                        <input type="text" class="form-control" id="usuario"
                        placeholder="usuario">
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" class="form-control" id="contrasenia"
                        placeholder="contraseña">
                    </div>                                
                        <button type="submit" id="button1" class="btn
                        btn-primary"><i class="fas fa-plus"></i>Crear Usuario</button>
                        <button style="display:none" id="button2" class="btn btn-success">Actualizar Usuario</button>
                        <button style="display:none" id="button3" class="btn btn-danger">Cancelar</button>
                </form>
            </div>
            <div id="cardSection" class="col-md-6">
                               
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase.js"></script>
    
    <script src="/public/admin/crearUsuario.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/public/admin/adminvue.js"></script> 
   
</body>

</html>