form{
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
    background-color:white;
    
}
body{
    background: linear-gradient(to bottom,
    rgb(251, 176, 59),
    rgb(247, 147, 30),
    rgb(241, 90, 36)
    );
    background-blend-mode:overlay;
    background-color: rgba(224, 214, 214, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    
}
