
header{
    width: 100%;
    height:100px;
    background: linear-gradient(to bottom,
    rgb(251, 176, 59),
    rgb(247, 147, 30),
    rgb(241, 90, 36));
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width:1000px;
    height:inherit;
    overflow: hidden;
  }

  .nav1{
    background: transparent;
    height: 94px;
    color:#fff;
  }
  nav .enlaces a{
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
  }
  
  nav .enlaces a:hover{
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
  }
  
  .logo, .logo img{ 
    border-radius: 48px;
    height:80px;}

 .contenedor-servicio{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }
.contenedor-servicio img{
        width: 40%;
}
 .checklist-servicio{
        width: 45;
    }

    footer {
 
        background: linear-gradient(to bottom,
          rgb(251, 176, 59),
          rgb(247, 147, 30),
          rgb(241, 90, 36)
          );
       color: #000000;
      }
      footer{
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 100%px;
      
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
      .pagina{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
          max-width: 1200px;
          margin: auto;
          padding: 40px;
      }
      /*Horario y sus telefono y correo*/
      .footer1{
        max-width: 400px;
      }
      .footer1 h3{
        color: #fff;
      }
      .footer1 p{
        color: #000000;
        margin-top: 20px;
      }
      
      
      .footer-links1{
        margin-top: 20px;
        display:block;
        
      }
      .footer-links1 li{
        list-style: none;
      }
      .footer-links1 li a .fab{
        width: 30px;
        height: 30px;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        text-decoration: none;
        border-radius: 4px;
      }
      .footer-links1 li a .fas{
        width: 30px;
        height: 30px;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        text-decoration: none;
        border-radius: 4px;
      }
      
      .footer-links1 li a {
        display: inline-block;
        display: flex;
        align-items: center;
        margin-right: 10px;
        text-decoration: none;
        border-radius: 10px;
        color: #000000;
        
      }
      .footer-links1 li a:hover{
        color: #ffffff;
      }
      .footer-links1 li a .far{
        width: 30px;
        height: 30px;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        text-decoration: none;
        border-radius: 4px;
      }
      
      
      .footer-links1 li a .fab, .far,.fas{
        color:#ffffff;
        font-size: 20px;
      }
      
      
      
      /*Redes sociales*/
      .footer2{
        max-width: 400px;
      }
      .footer2 h3{
        color: #fff;
      }
      
      
      
      
      /*Informacion*/
      .footer3{
        max-width: 400px;
      }
      .footer3 h3{
      color: #fff;
      }
      .footer-links3{
        margin-top: 20px;
        display: block;
          
        
      }
      .footer-links3 li{
        list-style: none;
      }
      .footer-links3 li a {
        display: inline-block;
        display: flex;
        align-items: center;
        margin-right: 10px;
        text-decoration: none;
        border-radius: 10px;
        color: #000000;
      }
      .footer-links3 li a:hover{
        color: #ffffff;
      }
      /*Servicios*/
      .footer4{
        max-width: 400px;
      }
      .footer4 h3{
      color: #fff;
      }
      .footer-links4{
        margin-top: 20px;
        display:block;
        
      }
      .footer-links4 li{
        list-style: none;
      }
      .footer-links4 li a {
        display: inline-block;
        display: flex;
        align-items: center;
        margin-right: 10px;
        text-decoration: none;
        border-radius: 10px;
        color: #000000;
      }
      .footer-links4 li a:hover{
        color: #ffffff;
      }
      @media screen and (max-width: 1100px){
          
        .container{
            flex-wrap: wrap;
        }
      
        .pagina{
            flex-wrap: wrap;
        }
        
        .footer1{
            max-width: 100%;
        }
        
        .footer2,
        .footer3,
        .footer4{
            margin-top: 40px;
        }
      }