<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="registros de Usuario"/>
    <meta name="theme-color" content="#317EFB" />
    <title>Registro</title>
    <!--link rel="stylesheet" href="registro.css"-->
    <link rel="stylesheet" href="/public/registro12/css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet"/>
    <link rel="apple-touch-icon" href="/example.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
    <link rel="icon" type="image/png" href="/public/img/logo.jpeg">

    
    
</head>
<body>
    <header>    
		<nav id="nav" class="nav1">
			<div class="contenedor-nav">
				<div class="logo">
					<a href="/public/index.html">
					<img src="logo.jpeg" alt="logo del almacen">
				</a>
				</div>
				<div class="enlaces" id="enlaces">
					<a href="/public/index.html" id="enlace-inicio" class="btn-header">Inicio</a>
						<!--a href="/index.html" id="enlace-equipo" class="btn-header">Personal</a-->
						<!--a href="/index.html" id="enlace-trabajo" class="btn-header">Galeria</a>
						<a href="/index.html" id="enlace-contacto" class="btn-header">Contactanos</a-->
				</div>
				<div class="icono" id="open">
					<span>&#9776;</span>
				</div>
			</div>
		</nav>
		
	</header>
    <main>
        <div class="titulo">
            <h2 id="titulo">{{tema}}</h2>
        </div>
		<form action="" class="formulario" id="formulario">
			<!-- Grupo: Usuario -->
			<div class="formulario__grupo" id="grupo__usuario">
				<label for="usuario" class="formulario__label">Usuario</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="usuario" id="usuario" placeholder="Ejemplo: Luis">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener letras .</p>
			</div>

			<!-- Grupo: Correo Electronico -->
			<div class="formulario__grupo" id="grupo__correo">
				<label for="correo" class="formulario__label">Correo Electrónico</label>
				<div class="formulario__grupo-input">
					<input type="email" class="formulario__input" name="correo" id="correo" placeholder="ejemplo@email.com">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El correo solo puede contener letras, numeros y caracteres.</p>
			</div>
            
            	<!-- Grupo: Contraseña -->
			<div class="formulario__grupo" id="grupo__password">
				<label for="password" class="formulario__label">Contraseña</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password" id="password" placeholder="contraseña" minlength="4" maxlength="12">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos, solo se permiten letras, numeros y caracteres.</p>
			</div>

			<!-- Grupo: Contraseña 2 -->
			<div class="formulario__grupo" id="grupo__password2">
				<label for="password2" class="formulario__label">Repetir Contraseña</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password2" id="password2" placeholder="Repetir contraseña" minlength="4" maxlength="12">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
			</div>

			<!-- Grupo: Terminos y Condiciones -->
			<div class="formulario__grupo" id="grupo__terminos">
				<label class="formulario__label">
					<input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
					Acepto los Terminos y Condiciones
				</label>
				<p >¿Ya tienes una cuenta?<a class="link" href="Login.html">Iniciar Sesion</a></p>
			</div>

			<div class="formulario__mensaje" id="formulario__mensaje">
				<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Rellenar el formulario correctamente. </p>
			</div>

			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="formulario__btn"> Registarse</button>
				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
			</div>
		</form>
	</main>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</div>
<!--Firevas-->
<script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-firestore.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyBdXFZiGB9uCmlI2VJSKRHwwyeYEowzC8M",
    authDomain: "proyectove-ffcdc.firebaseapp.com",
    databaseURL: "https://proyectove-ffcdc-default-rtdb.firebaseio.com",
    projectId: "proyectove-ffcdc",
    storageBucket: "proyectove-ffcdc.appspot.com",
    messagingSenderId: "657046213445",
    appId: "1:657046213445:web:877e44a1212772ebabe42c",
    measurementId: "G-D1B84H9E7X"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  const auth = firebase.auth();
  //firebase.analytics();
</script>
<script src="/public/registro12/registrovue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="/public/registro12/js/crear.js"></script>
<script src="/public/registro12/js/registro.js"></script>
</body>
</html>